<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../public/bootrap/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/public/css/dashboard.min.css">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link rel="stylesheet" href="../public/bootrap/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/list_admin.css">
    <script src="../public/js/dashboard.js"></script>
    <script src="../public/bootrap/all.js"></script>
    <script src="../public/bootrap/bootstrap.js"></script>

</head>