<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css để đây -->
    <link rel="stylesheet" href="/public/css/dashboard.css">

    <!-- Bootraps -->
    <script src="/public/bootrap/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/public/bootrap/bootstrap.min.css">   
    <script src="/public/bootrap/bootstrap.min.js"></script>
    <script src="/public/bootrap/icon.js"></script>
    
    <!-- JS để đây -->
    <script src="/public/js/dashboard.js"></script>
    <script src="/public/js/main.js"></script>
</head>