<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOREY - Đăng nhập</title>
    <link rel="stylesheet" href="../public/css/dangnhap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="../public/bootrap/jquery-3.6.0.min.js"></script>
    <script src="../public/js/dangnhap.js"></script>
    <script src="../controllers/account_controller.js"></script>

</head>

<body>
    <a href="http://localhost:3000/Storey"><img class="center" src="../public/image/image-removebg-preview (4).png" alt="Logo Storey"></a>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="http://localhost:3000/Storey/login" method="post" >
                <h1>Tạo tài khoản</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>
                    hoặc sử dụng email của bạn để đăng ký</span>
                <input name="tentaikhoan" type="text" placeholder="Tên tài khoản" />
                <input name="tennguoidung" type="text" placeholder="Tên người dùng" />
                <input name="email" type="email" placeholder="Email" />
                <input name="matkhau" type="password" placeholder="Mật khẩu" />
                <button id="btn_dangky">Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>
                    hoặc sử dụng tài khoản của bạn</span>
                <input type="text" placeholder="Tên tài khoản" />
                <input type="password" placeholder="Mật khẩu" />
                <a href="#">Quên mật khẩu?</a>
                <button>Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng bạn trở lại!</h1>
                    <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào bạn! </h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu khám phá với chúng tôi</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
</html>